/* PasswordBox.module.css */
.passwordBox {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures content and button are spaced apart */
  background-color: #F2F2F2;
  padding: 10px;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px; /* Space between password boxes */
  width: 20vw;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns content to the start */
}

.identifier, .passwordRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 12px; /* Adjust icon size */
  size: 10px;
}

.password {
  /* Additional styles for password text */
}

.copyButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center; /* Centers the icon vertically */
  font-size: 24px; /* Matches the icon size */
  color: #646464; /* Icon color */
}

/* Add any additional button styling here */
