/* DropzoneComponent.module.css */
.customDropzone {
    width: auto; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    margin: 20px; /* Adjust the margin as needed */
    border-radius: 10px; /* Add curveness to the borders */
    border: 2px dashed #e5e7eb; /* Add a dashed border */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #374151;
    background-color: #f3f4f6;
}
