
.fileBox {
    display: flex;
    width: 20vw;
    gap: 10px;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    background-color: #f0f0f0;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .fileBox:hover {
    background-color: #e0e0e0; /* Lighter grey on hover */
  }
  
  .icon {
    padding-left: 12px;
    margin-right: 10px;
    font-size: 24px; /* Adjust icon size as needed */
  }
  
  .fileName {
    
    padding: 10px;
    flex-grow: 1;
  }
  