/* Assuming this is in files.module.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
.mainBackground {
  display: flex;
  flex-direction: row; /* Align children in a row */
  flex-wrap: wrap; /* Allow boxes to wrap as needed */
  column-gap: 5vw; /* Adjust based on your spacing preference */
  row-gap: 1.5vw;;
  justify-content: flex-start; /* Align items to the start of the container */
  padding: 30px; /* Adds some padding around the container */
  background-color: #FBFBFB;
}
.padding{
  padding-top:10vh ;
}
.noResults{
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}