
/* FileBox.module.css */
.fileBox {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    width: 20vw; /* Your desired width */
    padding-top: 3.5vh;
    font-size: 15px;
    font-weight: bold;
  }
  
  .icon {
    font-size: 20px; /* Adjust the size of the icons */
  }
  
  .fileName {
    /* Styles for the file name text */
  }
  